.mainDiv{
  height: 300px;
background: blue;
display: flex;
justify-content: space-around;
margin-top:100px;
}

.sub1{
background: green;
border-radius: 10px;
box-shadow: 2px 5px 5px 2px black;
}
.sub2{
background: pink;
border-radius: 10px;
box-shadow: 2px 5px 5px 2px black;
}
.sub3{
background: yellow;
border-radius: 10px;
box-shadow:2px 5px 5px 2px black;
}
body{
  background: #41f4bb;
}

.image1{
  margin: 5px;
  width:200px;
  height:200px;
border-radius: 5px;
}

@media  all and(max-width:768px) {
body{
  background: red;
}
}
.image2{
  margin: 5px;
  width:200px;
  height:200px;
border-radius: 5px;
}
.image3{
  margin: 5px;
  width:200px;
  height:200px;
border-radius: 5px;
}
